@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --page-progress-color: #ff0000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p:not(.select-all, .select-text, .select-auto),
span:not(.select-all, .select-text, .select-auto),
h1:not(.select-all, .select-text, .select-auto),
h2:not(.select-all, .select-text, .select-auto),
h3:not(.select-all, .select-text, .select-auto),
h4:not(.select-all, .select-text, .select-auto),
h5:not(.select-all, .select-text, .select-auto),
h6:not(.select-all, .select-text, .select-auto),
pre:not(.select-all, .select-text, .select-auto),
caption:not(.select-all, .select-text, .select-auto),
blockquote:not(.select-all, .select-text, .select-auto),
a:not(.select-all, .select-text, .select-auto),
img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}
